@charset "UTF-8";

@font-face 
{

    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body 
{ background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px; 
}

.hidden
{
  display: none;
}

h1 
{
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

.house-info
{
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
}

.house-name
{
  letter-spacing: 1px;
  font-size: 2rem;
}

main 
{
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}


#imageContainer 
{
	width:600px;
	height:360px;
	background: rgba(0,0,0,0);
	margin:0 auto;
	overflow:hidden;
}

#houseImages 
{
  position:relative;
  width:5400px;
}

#houseImages img 
{
  float:left;
}


#iconContainer 
{
	width:128px;
	height:128px;
	background: rgba(0,0,0,0);
	margin:0 auto;
	overflow:hidden;
}


#icons 
{
  position:relative;
  width: 1152px;
}

#icons img 
{
  float:left;
}


#bottomNav 
{ 
	display: block;
	width: 500px;
	margin-top:100px;
	margin: 0 auto; 
}

#navList li 
{
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}


.sigil-container 
{
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites.png);
	background-repeat:no-repeat;
	transition: transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position:-101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position:-152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position:-202px -54px; }
.greyjoy:hover { background-position:-202px 0px; }

.arryn { background-position:-253px -54px; }
.arryn:hover { background-position:-253px 0px; }

.targaryen { background-position:-304px -54px; }
.targaryen:hover { background-position: -304px -1px; }

.tyrell { background-position: -354px -54px; }
.tyrell:hover { background-position: -354px -1px; }

.frey { background-position: -404px -54px; }
.frey:hover { background-position: -404px -1px; }


.scaleUp 
{
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp 
{
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);

}

.lightbox
{
  position: absolute;
  text-align: center;
  width: 80%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: none;
  margin-left: 10%;
}

.lightbox-close{
  position: absolute;
  color: white;
  font-size: 2rem;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.show-lightbox
{
  display: block;
}


video 
{
	width: 80%;
	margin-top: 5%;
	border: thin solid #949393;
}
